pandas
numpy
matplotlib
seaborn
sklearn
unidecode
emot
nltk
emoji
autocorrect
contractions
twython
vaderSentiment
textblob
flair
tqdm
wordcloud
chardet
folium
keras
tensorflow
tqdm
snscrape
re
collections
tqdm
transformers
torch